.timer {
  padding: 20px;
  display: flex;
  width: 500px;
  margin: 15px auto;
  background-color: #e1e8ea;
  border: 1px solid #097097;

  & svg {
    display: inline-block;
    width: 50px;
    height: 100px;
    margin: 0 10px;

    fill: #097097;
  }
}

.timer-js1 {
  background-color: #eae1e1;
  border: 1px solid #970909;

  & svg {
    fill: #970909;
  }
}